<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>App</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app"></div>
</body>
</html>
